.social-media-section {
    text-align: center;
    margin: 20px 0;
}

.social-media-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-media-link {
    display: inline-block;
}

.social-media-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}